<div class="jumbotron">
  <h1>Videorati</h1>
  <p>Upload your video to YouTube and share it with the world!</p>
  <p><%= link_to 'Get Started', new_video_path, class: 'btn btn-primary btn-lg' %></p>
</div>
